.uiTable {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.5;
    width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    background-color: #FFF;
}

.uiTable th{
    border-bottom: 1px solid #D9D9D9;
    vertical-align: middle;
    border-top: none;
    white-space: nowrap;
    font-weight: 600;
}

.uiTable td{
    vertical-align: middle;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    color: #3F3F3F;
}

.uiTable tr:hover {
    background-color: #fafafa;
    cursor: pointer;
 }